In [1]:
# import modules needed
import pandas as pd

Clean data from the core metrics file

In [2]:
# read the historical core metrics csv
c_df = pd.read_csv("RDC_Inventory_Core_Metrics_Zip_History.csv")
c_df.head()

C:\Users\jeffj\AppData\Local\Temp\ipykernel_28908\991109001.py:2: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  c_df = pd.read_csv("RDC_Inventory_Core_Metrics_Zip_History.csv")

,month_date_yyyymm,postal_code,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202309,55127,"saint paul, mn",635000.0,-0.0483,-0.0344,53.0,0.1158,0.5143,39.0,...,812323.0,-0.0398,0.0555,106.0,0.0872,0.3250,0.9434,-0.1092,-0.3423,0.0
1,202309,18354,"sciota, pa",399999.0,0.0000,0.3560,2.0,-0.3333,-0.5000,195.0,...,399999.0,0.0000,0.1676,3.0,-0.4000,-0.5000,1.0000,-0.1667,0.6250,1.0
2,202309,35593,"vina, al",275000.0,0.1305,0.7416,1.0,0.0000,-0.8000,47.0,...,275000.0,0.1305,0.4634,2.0,0.0000,-0.6667,1.0000,0.0000,0.8000,1.0
3,202309,85295,"gilbert, az",625000.0,-0.0056,0.0994,72.0,0.0746,-0.5944,32.0,...,700696.0,-0.0196,0.1102,112.0,-0.0968,-0.5634,0.5694,-0.1917,0.1216,0.0
4,202309,94970,"stinson beach, ca",7495000.0,0.0000,-0.2004,2.0,0.0000,0.0000,57.0,...,10628333.0,0.4181,0.0465,2.0,-0.6000,-0.4286,0.5000,-1.0000,-0.2500,1.0

In [3]:
# row count core metrics
c_row_count = c_df.shape[0]
c_row_count

2465723

In [4]:
# data types for core metrics
c_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465723 entries, 0 to 2465722
Data columns (total 40 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   month_date_yyyymm                        object
 1   postal_code                              object
 2   zip_name                                 object
 3   median_listing_price                     float64
 4   median_listing_price_mm                  float64
 5   median_listing_price_yy                  float64
 6   active_listing_count                     float64
 7   active_listing_count_mm                  float64
 8   active_listing_count_yy                  float64
 9   median_days_on_market                    float64
 10  median_days_on_market_mm                 float64
 11  median_days_on_market_yy                 float64
 12  new_listing_count                        float64
 13  new_listing_count_mm                     float64
 14  new_listing_count_yy                     float64
 15  price_increased_count                    float64
 16  price_increased_count_mm                 float64
 17  price_increased_count_yy                 float64
 18  price_reduced_count                      float64
 19  price_reduced_count_mm                   float64
 20  price_reduced_count_yy                   float64
 21  pending_listing_count                    float64
 22  pending_listing_count_mm                 float64
 23  pending_listing_count_yy                 float64
 24  median_listing_price_per_square_foot     float64
 25  median_listing_price_per_square_foot_mm  float64
 26  median_listing_price_per_square_foot_yy  float64
 27  median_square_feet                       float64
 28  median_square_feet_mm                    float64
 29  median_square_feet_yy                    float64
 30  average_listing_price                    float64
 31  average_listing_price_mm                 float64
 32  average_listing_price_yy                 float64
 33  total_listing_count                      float64
 34  total_listing_count_mm                   float64
 35  total_listing_count_yy                   float64
 36  pending_ratio                            float64
 37  pending_ratio_mm                         float64
 38  pending_ratio_yy                         float64
 39  quality_flag                             float64
dtypes: float64(37), object(3)
memory usage: 752.5+ MB

In [5]:
# find the row values with non matching value types
non_date_values = c_df[~c_df['month_date_yyyymm'].astype(str).str.match(r'^\d{6}$')]
print(non_date_values['month_date_yyyymm'].unique())

['quality_flag = 1:  year-over-year figures may be impacted']

In [6]:
# Filter out the problematic row
c_df = c_df[c_df['month_date_yyyymm'] != 'quality_flag = 1:  year-over-year figures may be impacted']

# Convert "month_date_yyyymm" to a datetime format
c_df['month_date_yyyymm'] = pd.to_datetime(c_df['month_date_yyyymm'], format='%Y%m')

# Reformat the datetime column to the desired string format
c_df['month_date_yyyymm'] = c_df['month_date_yyyymm'].dt.strftime('%Y-%m')

c_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,2023-09,55127,"saint paul, mn",635000.0,-0.0483,-0.0344,53.0,0.1158,0.5143,39.0,...,812323.0,-0.0398,0.0555,106.0,0.0872,0.3250,0.9434,-0.1092,-0.3423,0.0
1,2023-09,18354,"sciota, pa",399999.0,0.0000,0.3560,2.0,-0.3333,-0.5000,195.0,...,399999.0,0.0000,0.1676,3.0,-0.4000,-0.5000,1.0000,-0.1667,0.6250,1.0
2,2023-09,35593,"vina, al",275000.0,0.1305,0.7416,1.0,0.0000,-0.8000,47.0,...,275000.0,0.1305,0.4634,2.0,0.0000,-0.6667,1.0000,0.0000,0.8000,1.0
3,2023-09,85295,"gilbert, az",625000.0,-0.0056,0.0994,72.0,0.0746,-0.5944,32.0,...,700696.0,-0.0196,0.1102,112.0,-0.0968,-0.5634,0.5694,-0.1917,0.1216,0.0
4,2023-09,94970,"stinson beach, ca",7495000.0,0.0000,-0.2004,2.0,0.0000,0.0000,57.0,...,10628333.0,0.4181,0.0465,2.0,-0.6000,-0.4286,0.5000,-1.0000,-0.2500,1.0

In [7]:
# split the zip_name column into city and state columns
c_df[['city_name', 'state']] = c_df['zip_name'].str.split(', ', expand=True)
c_df = c_df.drop(columns=['zip_name'])
c_df.head()

,month_date_yyyymm,postal_code,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,city_name,state
0,2023-09,55127,635000.0,-0.0483,-0.0344,53.0,0.1158,0.5143,39.0,-0.0314,...,0.0555,106.0,0.0872,0.3250,0.9434,-0.1092,-0.3423,0.0,saint paul,mn
1,2023-09,18354,399999.0,0.0000,0.3560,2.0,-0.3333,-0.5000,195.0,0.1035,...,0.1676,3.0,-0.4000,-0.5000,1.0000,-0.1667,0.6250,1.0,sciota,pa
2,2023-09,35593,275000.0,0.1305,0.7416,1.0,0.0000,-0.8000,47.0,0.7091,...,0.4634,2.0,0.0000,-0.6667,1.0000,0.0000,0.8000,1.0,vina,al
3,2023-09,85295,625000.0,-0.0056,0.0994,72.0,0.0746,-0.5944,32.0,-0.1049,...,0.1102,112.0,-0.0968,-0.5634,0.5694,-0.1917,0.1216,0.0,gilbert,az
4,2023-09,94970,7495000.0,0.0000,-0.2004,2.0,0.0000,0.0000,57.0,-0.3631,...,0.0465,2.0,-0.6000,-0.4286,0.5000,-1.0000,-0.2500,1.0,stinson beach,ca

In [8]:
# Get the current column order
cols = c_df.columns.tolist()

# Reorder columns to place "state" and then "city_name" after "postal_code"
cols.remove('state')
cols.remove('city_name')
new_order = cols[:2] + ['state', 'city_name'] + cols[2:]

c_df = c_df[new_order]

In [9]:
# convert the state column values to upper case
c_df['state'] = c_df['state'].str.upper()

In [10]:
c_df = c_df.dropna(subset=['state'])

In [11]:
c_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2395931 entries, 0 to 2465721
Data columns (total 41 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   month_date_yyyymm                        object
 1   postal_code                              object
 2   state                                    object
 3   city_name                                object
 4   median_listing_price                     float64
 5   median_listing_price_mm                  float64
 6   median_listing_price_yy                  float64
 7   active_listing_count                     float64
 8   active_listing_count_mm                  float64
 9   active_listing_count_yy                  float64
 10  median_days_on_market                    float64
 11  median_days_on_market_mm                 float64
 12  median_days_on_market_yy                 float64
 13  new_listing_count                        float64
 14  new_listing_count_mm                     float64
 15  new_listing_count_yy                     float64
 16  price_increased_count                    float64
 17  price_increased_count_mm                 float64
 18  price_increased_count_yy                 float64
 19  price_reduced_count                      float64
 20  price_reduced_count_mm                   float64
 21  price_reduced_count_yy                   float64
 22  pending_listing_count                    float64
 23  pending_listing_count_mm                 float64
 24  pending_listing_count_yy                 float64
 25  median_listing_price_per_square_foot     float64
 26  median_listing_price_per_square_foot_mm  float64
 27  median_listing_price_per_square_foot_yy  float64
 28  median_square_feet                       float64
 29  median_square_feet_mm                    float64
 30  median_square_feet_yy                    float64
 31  average_listing_price                    float64
 32  average_listing_price_mm                 float64
 33  average_listing_price_yy                 float64
 34  total_listing_count                      float64
 35  total_listing_count_mm                   float64
 36  total_listing_count_yy                   float64
 37  pending_ratio                            float64
 38  pending_ratio_mm                         float64
 39  pending_ratio_yy                         float64
 40  quality_flag                             float64
dtypes: float64(37), object(4)
memory usage: 767.7+ MB

Clean data from the hotness metrics file

In [12]:
# read the hotness metrics csv
h_df = pd.read_csv("RDC_Inventory_Hotness_Metrics_Zip_History.csv")
h_df.head()

C:\Users\jeffj\AppData\Local\Temp\ipykernel_28908\2416267184.py:2: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  h_df = pd.read_csv("RDC_Inventory_Hotness_Metrics_Zip_History.csv")

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202309,14450,"fairport, ny",998.0,1.0,-5.0,0.0,99.978698,99.974438,99.982958,...,-5.00,-41.0,0.100652,-0.123400,4.949911,369000.0,-0.065586,0.126976,0.859139,0.0
1,202309,4106,"south portland, me",3627.0,2.0,-2.0,NaN,99.923313,99.906271,99.940354,...,-4.75,-39.0,-0.063090,-0.011696,4.677433,580000.0,-0.004292,0.341040,1.350407,0.0
2,202309,14624,"rochester, ny",1837.0,3.0,-4.0,1.0,99.919052,99.965917,99.872188,...,1.50,-40.0,0.022460,-0.013447,4.311374,214900.0,0.075038,0.132991,0.500349,0.0
3,202309,6111,"newington, ct",3095.0,4.0,-1064.0,-15.0,99.897751,99.838105,99.957396,...,-9.00,-38.0,0.414016,-0.002990,4.794335,294950.0,-0.051608,-0.028651,0.686729,0.0
4,202309,1970,"salem, ma",884.0,5.0,-7.0,-5.0,99.893490,99.889230,99.897751,...,-5.00,-38.5,0.122447,0.133164,4.435820,521950.0,0.105416,0.021079,1.215250,0.0

In [13]:
# row count for hotness metrics
h_row_count = h_df.shape[0]
h_row_count

929263

In [14]:
# data types for hotness metrics
h_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929263 entries, 0 to 929262
Data columns (total 24 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   month_date_yyyymm                      929263 non-null  object
 1   postal_code                            929263 non-null  object
 2   zip_name                               926158 non-null  object
 3   nielsen_hh_rank                        926158 non-null  float64
 4   hotness_rank                           929262 non-null  float64
 5   hotness_rank_mm                        879706 non-null  float64
 6   hotness_rank_yy                        690045 non-null  float64
 7   hotness_score                          929262 non-null  float64
 8   supply_score                           929262 non-null  float64
 9   demand_score                           929262 non-null  float64
 10  median_days_on_market                  929261 non-null  float64
 11  median_days_on_market_mm               929255 non-null  float64
 12  median_dom_mm_day                      929255 non-null  float64
 13  median_days_on_market_yy               929158 non-null  float64
 14  median_dom_yy_day                      929158 non-null  float64
 15  median_dom_vs_us                       929261 non-null  float64
 16  ldp_unique_viewers_per_property_mm     913177 non-null  float64
 17  ldp_unique_viewers_per_property_yy     746163 non-null  float64
 18  ldp_unique_viewers_per_property_vs_us  929262 non-null  float64
 19  median_listing_price                   929262 non-null  float64
 20  median_listing_price_mm                929257 non-null  float64
 21  median_listing_price_yy                929176 non-null  float64
 22  median_listing_price_vs_us             929262 non-null  float64
 23  quality_flag                           929262 non-null  float64
dtypes: float64(21), object(3)
memory usage: 170.2+ MB

In [16]:
# find the row values with non matching value types
non_date_values = h_df[~h_df['month_date_yyyymm'].astype(str).str.match(r'^\d{6}$')]
print(non_date_values['month_date_yyyymm'].unique())

['quality_flag = 1:  year-over-year figures may be impacted']

In [17]:
# Filter out the problematic row
h_df = h_df[h_df['month_date_yyyymm'] != 'quality_flag = 1:  year-over-year figures may be impacted']

# Convert "month_date_yyyymm" to a datetime format
h_df['month_date_yyyymm'] = pd.to_datetime(h_df['month_date_yyyymm'], format='%Y%m')

# Reformat the datetime column to the desired string format
h_df['month_date_yyyymm'] = h_df['month_date_yyyymm'].dt.strftime('%Y-%m')

h_df.head()

C:\Users\jeffj\AppData\Local\Temp\ipykernel_28908\1276514674.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h_df['month_date_yyyymm'] = pd.to_datetime(h_df['month_date_yyyymm'], format='%Y%m')
C:\Users\jeffj\AppData\Local\Temp\ipykernel_28908\1276514674.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h_df['month_date_yyyymm'] = h_df['month_date_yyyymm'].dt.strftime('%Y-%m')

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,2023-09,14450,"fairport, ny",998.0,1.0,-5.0,0.0,99.978698,99.974438,99.982958,...,-5.00,-41.0,0.100652,-0.123400,4.949911,369000.0,-0.065586,0.126976,0.859139,0.0
1,2023-09,4106,"south portland, me",3627.0,2.0,-2.0,NaN,99.923313,99.906271,99.940354,...,-4.75,-39.0,-0.063090,-0.011696,4.677433,580000.0,-0.004292,0.341040,1.350407,0.0
2,2023-09,14624,"rochester, ny",1837.0,3.0,-4.0,1.0,99.919052,99.965917,99.872188,...,1.50,-40.0,0.022460,-0.013447,4.311374,214900.0,0.075038,0.132991,0.500349,0.0
3,2023-09,6111,"newington, ct",3095.0,4.0,-1064.0,-15.0,99.897751,99.838105,99.957396,...,-9.00,-38.0,0.414016,-0.002990,4.794335,294950.0,-0.051608,-0.028651,0.686729,0.0
4,2023-09,1970,"salem, ma",884.0,5.0,-7.0,-5.0,99.893490,99.889230,99.897751,...,-5.00,-38.5,0.122447,0.133164,4.435820,521950.0,0.105416,0.021079,1.215250,0.0

In [18]:
# split the zip_name column into city and state columns
h_df[['city_name', 'state']] = h_df['zip_name'].str.split(', ', expand=True)
h_df = h_df.drop(columns=['zip_name'])
h_df.head()

C:\Users\jeffj\AppData\Local\Temp\ipykernel_28908\1886968173.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h_df[['city_name', 'state']] = h_df['zip_name'].str.split(', ', expand=True)
C:\Users\jeffj\AppData\Local\Temp\ipykernel_28908\1886968173.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h_df[['city_name', 'state']] = h_df['zip_name'].str.split(', ', expand=True)

,month_date_yyyymm,postal_code,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,median_days_on_market,...,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag,city_name,state
0,2023-09,14450,998.0,1.0,-5.0,0.0,99.978698,99.974438,99.982958,7.0,...,0.100652,-0.123400,4.949911,369000.0,-0.065586,0.126976,0.859139,0.0,fairport,ny
1,2023-09,4106,3627.0,2.0,-2.0,NaN,99.923313,99.906271,99.940354,9.0,...,-0.063090,-0.011696,4.677433,580000.0,-0.004292,0.341040,1.350407,0.0,south portland,me
2,2023-09,14624,1837.0,3.0,-4.0,1.0,99.919052,99.965917,99.872188,8.0,...,0.022460,-0.013447,4.311374,214900.0,0.075038,0.132991,0.500349,0.0,rochester,ny
3,2023-09,6111,3095.0,4.0,-1064.0,-15.0,99.897751,99.838105,99.957396,10.0,...,0.414016,-0.002990,4.794335,294950.0,-0.051608,-0.028651,0.686729,0.0,newington,ct
4,2023-09,1970,884.0,5.0,-7.0,-5.0,99.893490,99.889230,99.897751,9.5,...,0.122447,0.133164,4.435820,521950.0,0.105416,0.021079,1.215250,0.0,salem,ma

In [19]:
# Get the current column order
cols = h_df.columns.tolist()

# Reorder columns to place "state" and then "city_name" after "postal_code"
cols.remove('state')
cols.remove('city_name')
new_order = cols[:2] + ['state', 'city_name'] + cols[2:]

h_df = h_df[new_order]

# convert the state column values to upper case
h_df['state'] = h_df['state'].str.upper()

In [20]:
h_df = h_df.dropna(subset=['state'])

In [21]:
h_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926158 entries, 0 to 929261
Data columns (total 25 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   month_date_yyyymm                      926158 non-null  object
 1   postal_code                            926158 non-null  object
 2   state                                  926158 non-null  object
 3   city_name                              926158 non-null  object
 4   nielsen_hh_rank                        926158 non-null  float64
 5   hotness_rank                           926158 non-null  float64
 6   hotness_rank_mm                        876941 non-null  float64
 7   hotness_rank_yy                        688283 non-null  float64
 8   hotness_score                          926158 non-null  float64
 9   supply_score                           926158 non-null  float64
 10  demand_score                           926158 non-null  float64
 11  median_days_on_market                  926157 non-null  float64
 12  median_days_on_market_mm               926153 non-null  float64
 13  median_dom_mm_day                      926153 non-null  float64
 14  median_days_on_market_yy               926074 non-null  float64
 15  median_dom_yy_day                      926074 non-null  float64
 16  median_dom_vs_us                       926157 non-null  float64
 17  ldp_unique_viewers_per_property_mm     910157 non-null  float64
 18  ldp_unique_viewers_per_property_yy     743856 non-null  float64
 19  ldp_unique_viewers_per_property_vs_us  926158 non-null  float64
 20  median_listing_price                   926158 non-null  float64
 21  median_listing_price_mm                926155 non-null  float64
 22  median_listing_price_yy                926081 non-null  float64
 23  median_listing_price_vs_us             926158 non-null  float64
 24  quality_flag                           926158 non-null  float64
dtypes: float64(21), object(4)
memory usage: 183.7+ MB